<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meeting App</title>
  <link rel="stylesheet" href="/css/indexStyle.css">

</head>
<body>
  <h1>Hello user</h1>
  <a href="/meeting/create">Create a Meeting</a>
  <a href="/meeting/join">Join a Meeting</a>
  <form action="/auth/logout" method="GET">
    <button type="submit">Logout</button>
  </form>
</body>
</html>
