<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Available Repositories</h1>
<ul>
  <% for (const repo of repositories) { %>
    <li><%= repo %></li>
  <% } %>
</ul>

<h1>User Directories</h1>
<ul>
  <% for (const directory in userDirectories) { %>
    <li><%= directory %></li>
  <% } %>
</ul>
</body>
</html>