<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Meeting</title>
  <link rel="stylesheet" href="/css/formStyle.css">

</head>
<body>
  <form action="/meeting/create" method="POST">
    <input type="text" name="code" placeholder="Meeting Code" required>
    <button type="submit">Create Meeting</button>
  </form>
</body>
</html>
